file:///root/Downloads Downloads
file:///mnt/hgfs VMShare
file:///tmp /TMP
file:///usr/share Kali Tools
file:///opt /opt
file:///usr/local/src SRC
file:///var/ftp FTP
file:///var/samba Samba
file:///var/tftp TFTP
file:///var/www/html WWW
file:///root/Desktop/Screenshots Screenshots